.titolo {
    font-family: "Trebuchet MS", sans-serif;

    color: #2a9d8f !important;

}

.sottoTitoli {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bolder;
    color: #429b7dc7
}

.dati {
    color: #2a9d8f;
    font-style: italic;
}

.sfondo {
    background: linear-gradient(45deg, #32a7ad, #00000000)
}