.titolo {
    font-family: "Trebuchet MS", sans-serif;

    color: #0d515d !important;

}

.sottoTitoli {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bolder;
    color: #216384c7
}

.dati {
    color: #2050c1;
    font-style: italic;
}

.sfondo-nav {
    background: linear-gradient(45deg, #39898d, #6fb4c3e2)
}

.sfondo-main {

    background: linear-gradient(45deg, #64afb3, #ddeff3e2)
}

.sfondo-carosello {

    background: linear-gradient(45deg, #75c7cc, #b6d4d4e8)
}